
@font-face {
    font-family: 'digory_doodlesregular';
    src: url('../../../Resource/Fonts/digory_doodles_ps-webfont.woff2') format('woff2'),
         url('../../../Resource/Fonts/digory_doodles_ps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: 'Agus';
    src: url('../../../Resource/Fonts/agus.woff2') format('woff2'),
         url('../../../Resource/Fonts/agus.woff') format('woff');
    font-weight: normal;
    font-style: normal;	
}

*{
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none;
	color: inherit;
	padding: 5px 5px 5px 5px;
	outline: none;
}

label{
	text-decoration: none;
	color: inherit;
	padding: 10px 10px 10px 10px;
}

img{
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

body {
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(45deg,rgba(116, 34, 62, 0.9), rgba(99, 26, 156, 0.9));
    overflow: hidden;
}

header{
	background-color: black;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-box-shadow: -1px 9px 4px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 9px 4px -3px rgba(0,0,0,0.75);
	box-shadow: -1px 9px 4px -3px rgba(0,0,0,0.75);
	overflow; hidden;
	text-align: center;
}

.logo{
	display: inline-block;
	margin-left: 25px;
	margin-top: -10px;
	float: left;
}

.navigation-menu{
	margin-top: 15px;
	margin-left: -80px;
}

.item{
	margin-left: 40px;
	margin-right: 20px;
	padding: 10px 10px 10px 10px;	
	transition: 0.4s;
}

.item:hover{
	background-color: white;
	color: black;
	cursor: pointer;
	border-radius: 4px;
}

.text-to-speech{
	float: right;
	margin-right: 20px;
}

.icon-txt-to-speech{
	height: 28px;
	width: 28px;
}

.main-container{
	overflow: hidden;
	padding-top: 16px;
	padding-bottom: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
	position: absolute;
  	cursor: pointer;
  	top: 0;
  	left: 0;
  	right: 0;
	bottom: 0;
	border-radius: 25px;
  	background-color: #ccc;
  	-webkit-transition: .4s;
  	transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 26px;
  left: 0px;
  bottom: 0px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#home-page{
	position: relative;
	background: url("../../../Resource/Images/Background.png");
	width: 98%;
	/*height: 657px;*/
	height: 95.5%;
	margin : 0px auto;
	display: block;
	border-radius: 25px;
	text-align: center;
	-webkit-box-shadow: -1px 2px 40px 8px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 2px 40px 8px rgba(0,0,0,0.75);
	box-shadow: -1px 2px 40px 8px rgba(0,0,0,0.75);
}

.arrow-up {
	margin-top: -10px;
	/*margin-left: 480px;*/
	width: 0;
	height: 0; 
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid black;
}

.doodle{
	display: inline-block;
	margin-top: 130px;
	color: rgba(251, 251, 245, 0.21);
	font-size: 140px;
	font-family: "Agus";
	background: url("../../../Resource/Images/water_background.png");
	background-repeat: repeat-x;
	-webkit-background-clip: text;
    animation: water 15s infinite;
    animation-play-state: running;
}

@keyframes water{
	0%{
		background-position: left 0px top 20px;
	}
	30%{
		background-position: left 400px top 20px;	
	}
	60%{
		background-position: left 800px top 20px;		
	}
	100%{
		background-position: left 0px top 20px;	
	}
}

.search-box{
	text-align: center;
	display: block;
	border-radius: 6px;
	background-color: white;
	width: 56%;
	height: 28px;
	margin: 0 auto;
	margin-top: 45px;
	style: none;
	font-size: 24px;
}

.keyboard{
	height: 50px;
	width: 50px;
	color: white;
	margin-top: 55px;
	border: 3px solid white;
	border-radius: 50%;
	padding: 8px;
}

.keyboard:hover{
	background: white;
	border-color: white;
	color: black;
}

#about-page{
	position: relative;
	/*background-color: #2c3e50;*/
	width: 98%;
	height: 95.3%;
	margin : 0px auto;
	display: block;
	border-radius: 25px;
	-webkit-box-shadow: 2px 10px 36px 6px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 10px 36px 6px rgba(0,0,0,0.75);
	box-shadow: 2px 10px 36px 6px rgba(0,0,0,0.75);
}

.about-text{
	display: inline-block;
	margin-top: 130px;
	font-size: 40px;
	color: #BCBCBC;
}

#compatibility-page{
	position: relative;
	background-color: #2980b9;
	width: 98%;
	height: 95.3%;
	margin : 0px auto;
	display: block;
	border-radius: 25px;
	-webkit-box-shadow: 2px 10px 36px 6px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 10px 36px 6px rgba(0,0,0,0.75);
	box-shadow: 2px 10px 36px 6px rgba(0,0,0,0.75);
}

#api-page{
	position: relative;
	background-color: #2ecc71;
	width: 98%;
	height: 95.3%;
	margin: 0 auto;
	display: block;
	border-radius: 25px;
	-webkit-box-shadow: 2px 10px 36px 6px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 10px 36px 6px rgba(0,0,0,0.75);
	box-shadow: 2px 10px 36px 6px rgba(0,0,0,0.75);
}

input[name="r"]{
	position: absolute;
	opacity: 0;
}

.slides{
	position: absolute;
	top: 80px;
	bottom: 0;
	width: 400%;
	display: flex;
	text-align: center;
}

.slide{
	width: 25%;
	display: inline;
	transition: 0.6s;
}

#r1:checked ~ .s1{
	margin-left: 0;
}

#r2:checked ~ .s1{
	margin-left: -25%;
}

#r3:checked ~ .s1{
	margin-left: -50%;
}

#r4:checked ~ .s1{
	margin-left: -75%;
}

.dummy{
	background-color: white;
	color: black;
	cursor: pointer;
	border-radius: 4px;
}

.menu-new{
	font-weight: bold;
	font-size: 50px;
}

.hide{
	display: none;
}

@media screen and (max-width: 980px){
	#mnu-orig{
		display: hidden;
	}
}